<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>base</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>

<body>
    <header>
        <nav>
            <!-- <ul> -->
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'item:shop' %}">Items</a>
            <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
            <a href="{% url ':aboutus' %}">About us</a>
            {% if request.user.is_authenticated%}
            <a href="{% url 'profile' %}">Profile</a>
            {% else %}
            <a href="{% url 'signup' %}" style="text-align: right;">Sign-up</a>
            <a href="{% url 'login' %}" style="text-align: right;">Login</a>
            {% endif %}
            <form method="get" action="{% url 'search' %}">
                <input type="text" name="q" placeholder="Search..." value="{{ request.GET.q }}" class="search">
                <button type="submit" hidden>🔎</button>
            </form>
        </nav>
        <button class="notif" hx-get="{% url 'notifications:get_notification' %}" hx-trigger="click"
            hx-target="#notifications_list" hx-swap="innerHTML" onclick="document.getElementById('notification-container').showModal()">
            <svg viewBox="0 0 448 512" class="bell">
                <path
                    d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z">
                </path>
            </svg>
        </button>
        <dialog id="notification-container">
            <div id="notifications_list">

            </div>
             <button onclick="document.getElementById('notification-container').close()">Close</button>
        </dialog>
        <script src={% static 'main/htmx.min.js' %}></script>

    </header>
    {% block content %}
    {% endblock %}


    <footer>
        Footer for the guys with a feet fetish
    </footer>
</body>

</html>